* {
    box-sizing: border-box;
}

.card-wrapper {
    width: 120px;
    height: 240px;
    place-self: center;
    background-size: cover;
    cursor: pointer;
} 

.card-wrapper:hover{
    transform: scale(1.1);
    transition: .7s;
}