* {
  box-sizing: border-box;
}

.card-wrapper > img {
  width: 100%;
  max-width: 170px;
  object-fit: cover;
  cursor: pointer;
}

.card-wrapper > img:hover {
  filter: drop-shadow(0 0 0.75rem #d4af37);
}
