* {
  box-sizing: border-box;
}
.cards-container {
  width: 525px;
  height: 60dvh;
  margin-top: 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow-y: auto;
}

.box-cards {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-wrap: wrap;
  padding: 10px 5px;
}

.title {
  margin-top: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.category-title {
  font-style: italic;
  text-transform: uppercase;
  font-weight: 500;
}

.categories {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.category > img {
  cursor: pointer;
  gap: 35px;
}
